stanbol.enhancer.engine.name="GALinking"
enhancer.engines.linking.entityhub.siteId="GA"
enhancer.engines.linking.labelField="rdfs:label"
enhancer.engines.linking.caseSensitive=B"false"
enhancer.engines.linking.typeField="rdf:type"
enhancer.engines.linking.redirectField="rdfs:seeAlso"
enhancer.engines.linking.redirectMode="ADD_VALUES"
enhancer.engines.linking.minSearchTokenLength=I"3"
enhancer.engines.linking.minTokenScore=0.7
enhancer.engines.linking.suggestions=I"3"
enhancer.engines.linking.includeSimilarScore=B"false"
enhancer.engines.linking.properNounsState=B"false"
enhancer.engines.linking.processedLanguages=["*;lmmtip;uc\=LINK;prop\=0.75;pprob\=0.75","de;uc\=MATCH","es;lc\=Noun","nl;lc\=Noun"]
enhancer.engines.linking.typeMappings=["dbp-ont:Organisation;\ dbp-ont:Newspaper;\ schema:Organization\ >\ dbp-ont:Organisation","dbp-ont:Person;\ foaf:Person;\ schema:Person\ >\ dbp-ont:Person","dbp-ont:Place;\ schema:Place\ >\ dbp-ont:Place", "dbp-ont:Work;\ schema:CreativeWork\ ?\ dbp-ont:Work","dbp-ont:Event;\ schema:Event\ >\ dbp-ont:Event","schema:Product\ >\ schema:Product", "skos:Concept\ >\ skos:Concept"]
enhancer.engines.linking.dereference=B"false"
enhancer.engines.linking.dereferenceFields="rdfs:comment"
enhancer.engines.linking.dereferenceFields="geo:lat"
enhancer.engines.linking.dereferenceFields="geo:long"
enhancer.engines.linking.dereferenceFields="foaf:depiction"
enhancer.engines.linking.dereferenceFields="dbp-ont:thumbnail"