stanbol.enhancer.engine.name=GALinking
enhancer.engines.linking.entityhub.siteId=GA
enhancer.engines.linking.labelField=rdfs:label
enhancer.engines.linking.caseSensitive=false
enhancer.engines.linking.typeField=rdf:type
enhancer.engines.linking.redirectField=rdfs:seeAlso
enhancer.engines.linking.redirectMode=ADD_VALUES
enhancer.engines.linking.minSearchTokenLength=3
enhancer.engines.linking.minTokenScore=0.7
enhancer.engines.linking.suggestions=3
enhancer.engines.linking.includeSimilarScore=false
enhancer.engines.linking.properNounsState=false
enhancer.engines.linking.processedLanguages=*;lmmtip;uc=LINK;prob=0.75;pprob=0.75
enhancer.engines.linking.processedLanguages=de;uc=MATCH
enhancer.engines.linking.processedLanguages=es;lc=Noun
enhancer.engines.linking.processedLanguages=nl;lc=Noun
enhancer.engines.linking.typeMappings=dbp-ont:Organisation;+dbp-ont:Newspaper;+schema:Organization+>+dbp-ont:Organisation
enhancer.engines.linking.typeMappings=dbp-ont:Person;+foaf:Person;+schema:Person+>+dbp-ont:Person
enhancer.engines.linking.typeMappings=dbp-ont:Place;+schema:Place+>+dbp-ont:Place
enhancer.engines.linking.typeMappings=dbp-ont:Work;+schema:CreativeWork+%3E+dbp-ont:Work
enhancer.engines.linking.typeMappings=dbp-ont:Event;+schema:Event+>+dbp-ont:Event
enhancer.engines.linking.typeMappings=schema:Product+>+schema:Product
enhancer.engines.linking.typeMappings=skos:Concept+>+skos:Concept
enhancer.engines.linking.dereference=false
enhancer.engines.linking.dereferenceFields=rdfs:comment
enhancer.engines.linking.dereferenceFields=geo:lat
enhancer.engines.linking.dereferenceFields=geo:long
enhancer.engines.linking.dereferenceFields=foaf:depiction
enhancer.engines.linking.dereferenceFields=dbp-ont:thumbnail
propertylist=stanbol.enhancer.engine.name,enhancer.engines.linking.entityhub.siteId,enhancer.engines.linking.labelField,enhancer.engines.linking.caseSensitive,enhancer.engines.linking.typeField,enhancer.engines.linking.entityTypes,enhancer.engines.linking.redirectField,enhancer.engines.linking.redirectMode,enhancer.engines.linking.minSearchTokenLength,enhancer.engines.linking.minTokenScore,enhancer.engines.linking.suggestions,enhancer.engines.linking.includeSimilarScore,enhancer.engines.linking.properNounsState,enhancer.engines.linking.processedLanguages,enhancer.engines.linking.defaultMatchingLanguage,enhancer.engines.linking.typeMappings,enhancer.engines.linking.dereference,enhancer.engines.linking.dereferenceFields