stanbol.enhancer.chain.name=hydroid
stanbol.enhancer.chain.weighted.chain=tika;optional
stanbol.enhancer.chain.weighted.chain=langdetect
stanbol.enhancer.chain.weighted.chain=opennlp-sentence
stanbol.enhancer.chain.weighted.chain=opennlp-token
stanbol.enhancer.chain.weighted.chain=opennlp-pos
stanbol.enhancer.chain.weighted.chain=opennlp-ner
stanbol.enhancer.chain.weighted.chain=entityhubExtraction
stanbol.enhancer.chain.weighted.chain=GALinking
stanbol.enhancer.chain.chainproperties=
propertylist=stanbol.enhancer.chain.name,stanbol.enhancer.chain.weighted.chain,stanbol.enhancer.chain.chainproperties